{{ form_start(registration_form) }}

<div class="field-wrap form-group">
    {{ form_label(registration_form.nombre, 'Nombre', {'label_attr': {'class': 'req'}}) }}
    {{ form_widget(registration_form.nombre, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
    {{ form_errors(registration_form.nombre) }}
</div>

<div class="field-wrap form-group">
    {{ form_label(registration_form.telefono, 'Número de Teléfono', {'label_attr': {'class': 'req'}}) }}
    {{ form_widget(registration_form.telefono, {'attr': {'class': 'form-control', 'required': 'required'}}) }}
    {{ form_errors(registration_form.telefono) }}
</div>
<div class="field-wrap form-group">
    {{ form_label(registration_form.email, 'Email', {'label_attr': {'class': 'req'}}) }}
    {{ form_widget(registration_form.email, {'attr': {'class': 'form-control', 'required': 'required', 'autocomplete': 'off'}}) }}
    {{ form_errors(registration_form.email) }}
</div>

<div class="field-wrap form-group">
    {{ form_label(registration_form.plainPassword, 'Contraseña', {'label_attr': {'class': 'req'}}) }}
    {{ form_widget(registration_form.plainPassword, {'attr': {'class': 'form-control', 'required': 'required', 'autocomplete': 'off'}}) }}
    {{ form_errors(registration_form.plainPassword) }}
</div>

<button type="submit" class="button button-block">Crear cuenta</button>
{{ form_end(registration_form) }}

