{% extends 'base.html.twig' %}

{% block title %}
    <title>Silvilla Mascotas-Sobre Nosotros</title>
{% endblock %}

{% block body %}
{% include 'base.html.twig' %}
<link rel="stylesheet" href="{{ asset('css/styleTiendas.css') }}">

<div class="subhead">
    <h2 class="subtext">SOBRE NOSOTROS</h2>
</div>

 
<div class="container post">
    <div class="row">
        <!-- Espacio para texto a la izquierda -->
        <div class="col-md-6">
        <div class="card-body">
            <h2 class="card-title">Nuestra historia</h2>
              <p class="card-text"><strong>Hace apenas dos años</strong>, un grupo familiar decidió emprender un nuevo camino en el mundo empresarial. Lo que comenzó como un sueño de abrir una <strong>tienda</strong> se convirtió en una emocionante aventura llena de desafíos y logros.</p>
              <p class="card-text">En <strong>abril de 2022</strong>, nuestra primera <strong>tienda</strong> abrió sus puertas en <strong>Sevilla la Nueva</strong>. Aunque no era nuestro plan original, dedicamos todo nuestro esfuerzo y pasión para asegurarnos de que fuera un éxito. Fue el comienzo de un viaje lleno de <strong>aprendizaje y crecimiento</strong>.</p>
            <img class="img-fluid" src="{{ asset('img/fachadasln.jpg') }}" alt="Imagen">
          </div>
        </div>
        
        <!-- Contenido a la derecha -->
        <div class="col-md-6">
            <!-- Primer apartado -->
            <div class="mb-5 border-0">
                <div class="card-body">
                    <h3 class="card-title">Expansión a Villanueva de Perales:</h3>
                    <p class="card-text">Seis meses después, en <strong>septiembre de 2022</strong>, inauguramos nuestra <strong>segunda tienda</strong> en Villanueva de Perales. Esta apertura no solo fue un paso adelante en nuestro negocio, sino también un compromiso con la comunidad local, <strong>ofreciendo un servicio</strong> que antes <strong>no estaba disponible</strong> en el pueblo.</p>
                </div>
            </div>

            <!-- Segundo apartado -->
            <div class="mb-5 border-0">
                <div class="card-body">
                    <h3 class="card-title">Crecimiento y Reconocimiento:</h3>
                    <p class="card-text">Mientras nuestras tiendas en Sevilla la Nueva y Villanueva de Perales seguían creciendo, <strong>nos ganamos un lugar especial</strong> en el corazón de la comunidad. Nuestra filosofía de <strong>adaptarnos y facilitar sus necesidades</strong> nos hizo destacar, obteniendo la <strong>confianza</strong> y el <strong>apoyo</strong> de nuestros clientes.</p>
                </div>
            </div>

            <!-- Tercer apartado -->
            <div class="mb-5 border-0">
                <div class="card-body">
                    <h3 class="card-title">Nueva Aventura en Fuenlabrada:</h3>
                    <p class="card-text">En <strong>diciembre de 2023</strong>, dimos otro gran paso adelante al abrir nuestra tercera tienda en <strong>Fuenlabrada</strong>. Aunque es la más reciente en nuestra historia, estamos comprometidos a seguir brindando el mismo nivel de <strong>servicio excepcional</strong> y <strong>calidad</strong> que nos ha caracterizado desde el principio.</p>
                    <p>Hoy, con todas nuestras tiendas en auge, miramos hacia el futuro con <strong>entusiasmo</strong> y <strong>determinación</strong>. Nuestra historia de crecimiento y dedicación es solo el comienzo de lo que esperamos sea un viaje aún más <strong>emocionante</strong> y <strong>exitoso</strong>.</p>
                </div>
            </div>
            <div class="mb-5 border-0">
                <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <h3>Confianza</h3>
                      </div>
                      <div class="col-md-4">
                        <h3>Integridad</h3>
                      </div>
                      <div class="col-md-4">
                        <h3>Honestidad</h3>
                      </div>
                    </div>
                </div>
            </div>
            
            <!-- Contenedor del botón centrado -->
            <div class="text-center">
                <a href="#tiendas" class="btn btn-custom2 btn-lg">Ver tiendas</a>
            </div>
        </div>
    </div>
</div>


{# <div class="container post">
    <div class="row">
        <!-- Primer principio -->
        <div class="col-md-4">
            <div class="principle">
                <div class="content">
                    <div class="number">1</div>
                    <h3>Confianza</h3>
                    <p>Aportamos confianza porque nos comprometemos a ofrecer productos y servicios de calidad, cumpliendo siempre con nuestras promesas y siendo transparentes en nuestras acciones.</p>
                </div>
            </div>
        </div>
        <!-- Segundo principio -->
        <div class="col-md-4">
            <div class="principle">
                <div class="content">
                    <div class="number">2</div>
                    <h3>Integridad</h3>
                    <p>Nuestra integridad es la base de nuestra empresa. Nos regimos por altos estándares éticos y morales en todas nuestras interacciones, manteniendo siempre la coherencia entre nuestras palabras y acciones.</p>
                </div>
            </div>
        </div>
        <!-- Tercer principio -->
        <div class="col-md-4">
            <div class="principle">
                <div class="content">
                    <div class="number">3</div>
                    <h3>Honestidad</h3>
                    <p>La honestidad es nuestro pilar fundamental. Nos comprometemos a actuar con transparencia y sinceridad en todas nuestras relaciones comerciales, manteniendo siempre una comunicación abierta y honesta con nuestros clientes y colaboradores.</p>
                </div>
            </div>
        </div>
    </div>
</div> #}

<div class="container post">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Nuestros Trabajadores</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Trabajador 1 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconom.png') }}" alt="Trabajador 1" class="img-fluid m-4 trabajador-img">
            <h3>Mayte</h3>
            <p>CEO</p>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconoh.png') }}" alt="Trabajador 2" class="img-fluid m-4 trabajador-img">
            <h3>Manuel</h3>
            <p>CEO</p>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconoh.png') }}" alt="Trabajador 2" class="img-fluid m-4 trabajador-img">
            <h3>Sergio</h3>
            <p>CSO</p>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconom.png') }}" alt="Trabajador 2" class="img-fluid m-4 trabajador-img">
            <h3>Úrsula</h3>
            <p>Veterinaria</p>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconom.png') }}" alt="Trabajador 2" class="img-fluid m-4 trabajador-img">
            <h3>Laura</h3>
            <p>Peluquera</p>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4 text-center">
            <img src="{{ asset('img/iconom.png') }}" alt="Trabajador 2" class="img-fluid m-4 trabajador-img">
            <h3>Ania</h3>
            <p>Peluquera</p>
        </div>
    </div>
</div>


<div class="p-5 text-center barra">
    <div class="container-fluid py-5 detras">
        <h2 class="marcas">Nuestros proveedores</h2>   
        <div class="row justify-content-center">
            <!-- Imagen 1 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-o_noso.png') }}" alt="Proveedor 1" class="img-fluid proveedor-img prov1">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-nayeco.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov2">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-zen.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov3">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-fresh.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov4">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-lenda.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov5">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-gosbi.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov6">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-rc.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov7">
                </a>
            </div>
            <!-- Imagen 2 -->
            <div class="col-md-4">
                <a href="{{ path('productos') }}">
                    <img src="{{ asset('img/logo-advance.png') }}" alt="Proveedor 2" class="img-fluid proveedor-img prov8">
                </a>
            </div>
        </div> 
    </div>
</div>




<div class="container post" id="tiendas">
    <div class="row text-center">
        <div class="col-md-12 mb-5">
            <h2>Nuestras Tiendas</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <!-- Trabajador 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ asset('img/fachadasln.jpg') }}" class="worker-img" alt="Trabajador 1">
                <div class="card-body">
                    <h5 class="worker-title">Sevilla la Nueva</h5>
                    <p class="worker-text">Calle Jose Antonio 55, Local 7.</p>
                    <p class="worker-phone">+34 918 13 08 71</p>
                    <a href="https://www.google.com/maps/place/SILVILLA+MASCOTAS+-+Tienda+Animales/@40.3497627,-4.0223123,17z/data=!3m1!4b1!4m6!3m5!1s0xd4196f0e9ba4ccb:0xf89a3195668eb514!8m2!3d40.3497627!4d-4.0223123!16s%2Fg%2F11hdc4zyy3?entry=ttu" class="btn btn-worker" target="_blank">Ver en Google Maps</a>
                </div>
            </div>
        </div>
        <!-- Trabajador 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ asset('img/fachadaf.jpg') }}" class="worker-img" alt="Trabajador 2">
                <div class="card-body">
                    <h5 class="worker-title">Fuenlabrada</h5>
                    <p class="worker-text">Calle de Portugal 39.</p>
                    <p class="worker-phone">+34 660 99 35 25</p>
                    <a href="https://www.google.com/maps/place/Silvilla+Mascotas/@40.2845255,-3.809806,17z/data=!3m1!4b1!4m6!3m5!1s0xd418bbfd0d3bee5:0xcaaa976680720e51!8m2!3d40.2845255!4d-3.809806!16s%2Fg%2F11vm3n1g7b?entry=ttu" class="btn btn-worker" target="_blank">Ver en Google Maps</a>
                </div>
            </div>
        </div>
        <!-- Trabajador 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{{ asset('img/fachadavdp.jpg') }}" class="worker-img" alt="Trabajador 3">
                <div class="card-body">
                    <h5 class="worker-title">Villanueva de Perales</h5>
                    <p class="worker-text">Calle San Antonio 21.</p>
                    <p class="worker-phone">+34 660 99 35 25</p>
                    <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0xd41bd673323daab:0xd236746c0dfa4279?sa=X&ved=1t:8290&ictx=111" class="btn btn-worker" target="_blank">Ver en Google Maps</a>
                </div>
            </div>
        </div>
    </div>
</div>
  




<div class="post"></div>
    <div class="container">
      <hr>
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <div class="col-md-4 d-flex align-items-center">
          <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Company, Inc</span>
        </div>
    
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/silvillamascotas" target="_blank"><img class="bi" width="40" height="40" src="{{asset('img/instagram.png')}}" alt="Logo instagram"></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com" target="_blank"><img class="bi" width="40" height="40" src="{{asset('img/gorjeo.png')}}" alt="Logo twitter"></img></a></li>
          <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com" target="_blank"><img class="bi" width="40" height="40" src="{{asset('img/facebook.png')}}" alt="Logo facebook"></img></a></li>
        </ul>
      </footer>
    </div>


{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{asset('js/javascript.js')}}"></script>
  <script src="{{asset('js/bootstrap.bundle.js')}}"></script>
{% endblock %}